@media (min-width:1400px ) {
    #leftBlock{display: block}
}
@media (max-width:1100px ) {
    #leftBlock{display: none}
}
body{
    background-image: url("../img/blue-sky-clouds-light-57019.jpg");
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
    background-color: rgba(2,2,2,0.4);
    padding-top: 0.5%;
    top: 0;
}
#selectForm{
    width: 250px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 1px 8px #888888;
    visibility: hidden;
    /*float: top;*/
    padding: 20px 20px 20px 20px;
    margin: 5px;
}
#selectSpanText{
    color: #1296DB;
    font-size: 20px;
}
#selectFormImg{
    width: 25px;
    height: 25px;
    cursor: pointer
}
.select2{
    width: 200px;
}
#selectFoot{
    background-color: rgba(212, 212, 212, 0.1);
    margin-top: 20px;
}

.blackMask{
    border-radius: 2px;
    background-color: rgba(2,2,2,0.4);
}
#topDiv{
    position:relative;
    top:15%;
    min-width: 450px;
}

#imgLogo{
    margin-left: 4%;
    float: left;
}
#searchIpt{
    margin-left: 4%;
    width: 25%;
    height: 55px;
    top: 0;
    float: left;
}
#searchBtn{
    margin-left: 1%;
    float: left;
}
#con{
    position: absolute;
    top: 140px;
    width: 97%;
    margin-left: 3%;
}
#city{
    font-size: 55px;
    color: white;
    float: left;
}

#areaLocalA{
    float: left;
}
#areaLocalDetail{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 5px 5px 0;
    border-radius: 2px;
    background-color: rgba(2,2,2,0.4);
    cursor: pointer;
}
#areaCollectionA{
    margin-top: 10px;
    margin-left: 60px;
    float: left;
    border-radius: 2px;
    background-color: rgba(2,2,2,0.4);
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}
#areaCollectionImg{
    width: 40px;
    height: 40px;
    /*margin-left: 15%;*/
}
#areaLocalImg{
    width: 40px;
    height: 40px;
}
#nowTime{
    float: left;
    color: white;
}
#temperature{
    color: white;
    font-size: 150px;
    float: left;
}
#weatherBar{
    float: left;
    border-radius: 3px;
    background-color: rgba(2,2,2,0.45);
    width: 30%;
    /*position: absolute;*/
}
.ulP{
    color: white;
    text-align: center;
}

.liStyle{
    list-style: none;
    margin: 5px;
    white-space: nowrap;
    width: 70px;
    display: inline-block;
}
.ulStyle{
    display: block;
    padding: 0;
    white-space: nowrap;
    overflow-x: scroll;
}
.weatherBarImg{
    width: 50px;
    height: 50px;
}
#weatherDay{
    color: white;
    padding: 20px 20px 0 20px
}
.weatherDaySpan{
    padding: 0 0 0 60px;
}
#weatherDetails{
    border-radius: 3px;
    background-color: rgba(0,0,0,0.45);
    width: 28%;
    color: white;
    /*position: relative;*/
    /*left: 30%;*/
    float: left;
    padding: 0 20px 0 20px;
    margin-left: 3%;
}
.weatherStyle{
    /*visibility: hidden;*/
    display: none;
    word-wrap: break-word;
    word-break: normal;
    width: 540px
}
.clear{
    clear:both
}